# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Virtual environment
venv/
.venv/
env/

# IDE-specific files
.idea/
.vscode/
*.swp
*.bak
*.swo

# Environment variables
.env
.flaskenv

# Database
*.sqlite3
/data/

# Logs
*.log
logs/

# Uploaded files
media/
static/

# Distribution / build
dist/
build/
*.egg
*.whl

# OS-specific files
.DS_Store
Thumbs.db

# MyPy cache
.mypy_cache/

# Jupyter Notebook files
.ipynb_checkpoints/
